.setting-circle-wrapper {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.setting-circle-wrapper .settings-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.apply-floor-button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
