.upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
}

.upload-content {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.upload-drop-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.upload-file {
  margin-left: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  overflow: auto;
}

.upload-actions {
  margin-top: 32px;
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.upload-file-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.map-settings {
  width: 50%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.upload-title {
  margin-bottom: 32px;
  font-size: 1.2em;
  font-weight: bold;
}

.upload-filename {
  margin-right: 8px;
}

.upload-filerow {
  display: flex;
  height: 50px;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.upload-file-selections {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-label {
  margin-right: 15px;
  margin-left: 5px;
}

.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
