.editor-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.map-settings {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 275px;
  padding: 20px;
}

.upload-area {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.upload-area .drop-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.upload-area .upload-actions {
  margin-top: 32px;
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.upload-area .drop-area .upload-title {
  margin-bottom: 32px;
  font-size: 1.2em;
  font-weight: bold;
}

.upload-actions .upload-filerow {
  display: flex;
  height: 50px;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.upload-actions .upload-filerow .upload-filename {
  margin-right: 8px;
}

.upload-actions .upload-filerow .upload-file-selections {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-label {
  margin-right: 15px;
  margin-left: 5px;
}

.upload-area .upload-actions .submit-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.leaflet-control-layers-toggle {
  background-image: url('https://i.ibb.co/3vzzcDj/layers.png');
}
